@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

:root {
    --focus_color: #7a8fd7;
    --main_color: #93A5E6;
    --input_color: #3F59B6;
    --back_color: #EDF1FF;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
}

.header {
    background-color: var(--main_color);
    width: 100%;
    margin-bottom: 20px;
}

.header__content {
    padding: 18px 0px 18px;
}

.header__content-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    user-select: none;
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    font-family: Quicksand;
}

.user__name {
    user-select: none;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;

    color: #FFFFFF;
}

.default-btn {
    border: none;
    color: #fff;
    background-color: var(--main_color);
    padding: 0.3em 1em;
    border-radius: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.body__message input,
.body__message textarea {
    border: none;
    padding: 0.3em 1em;
    border-radius: 10px;
    background-color: #fff;
    color: var(--input_color);
    margin-bottom: 1em;
    resize: none;
    outline: none;
}

.body__message input::placeholder,
.body__message textarea::placeholder {
    color: var(--input_color);
}

#text-message {
    height: 300px;
}

#email {
    width: 50% !important;
}

.message {
    background-color: var(--back_color);
    padding: 1em;
    margin: 1em;
    border-radius: 15px;
    box-shadow: 10px 10px 4px rgba(147, 165, 230, 0.53);
    height: 100%;
}

.menu {
    background: #93A5E6;
    box-shadow: 10px 10px 4px rgba(133, 151, 215, 0.3);
    border-radius: 10px;
    width: 60px;
    height: 100%;
}

.menu img {
    width: 30px;
    margin: 0.5em;
    cursor: pointer;
}

.menu__div {
    height: 489px;
}

.mail__object {
    border-radius: 10px;
    background-color: #fff;
    color: var(--main_color);
    padding: 1em;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 15px;
}

.mail__object p {
    margin: 0;
    color: var(--input_color);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

}

.mail__object p:hover,
.mail__object p:active {
    cursor: pointer;
}

.active-filter {
    box-shadow: 0px 0px 5px gray;
}

#list-messages {
    overflow-y: scroll;
    padding-bottom: 15px;
}

.custom-window {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px var(--main_color);
    border-radius: 10px;
    color: var(--input_color);
    font-family: Quicksand;
}

::-webkit-scrollbar {
    width: 12px;

}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(143, 153, 226, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(104, 54, 222, 0.1);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: var(--main_color);
}

.modal-title {
    background-color: var(--main_color);
    width: 100%;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 26px;
    line-height: 25px;
}

.modal-desc {
    width: 100%;
    padding: 8px;
    padding-top: 10px;
    border-radius: 5px;
    font-weight: 300;
    font-size: 22px;
    line-height: 20px;
}

#btn-close {
    flex: end;
    border: none;
    color: #fff;
    background-color: var(--main_color);
    padding: 0.3em 1em;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 17px;
}

.alert {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    border-radius: 0;
}

.alert-primary {
    background-color: #93a5e6b7;
    border-color: #7a8fd7;
    color: #ffffff;
    cursor: text;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
}

#count-of-letters {
    margin: 0 5px;
}

.trash {
    width: 20px;
    height: 20px;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--input_color);
    font-size: 20px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.Noti_con {
    position: fixed;
    top: -15px;
    right: 0;
    padding: 5px;
    
}

.noti_alert {
    position: relative;
    margin-top: 5px;
    width: 240px;
    padding: 6px;
    border-radius: 3px;
    border: 1px solid #dddddd;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    animation: 1s 1 noti_animation;
    -webkit-animation: 1s 1 noti_animation;
    font-weight: 900;
    color: #a8a8a8;
    font-size: 13px;
    direction: rtl;
    background-color: white;
    
}

.noti_alert p {
    margin-right: 5px;
    text-align: right;
    margin-bottom: 0;
}

@keyframes noti_animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.Noti_icon {
    padding: 5px;
    border-radius: 3px;
    color: white;
    display: flex;
    font-size: x-large;
}


.remove_alert {
    animation: 1s 1 remove_alert_animation;
    -webkit-animation: 1s 1 remove_alert_animation;
}

@keyframes remove_alert_animation {
    0% {
        transform: translateX(200px);
    }

    50% {
        transform: translateX(200px);
    }

    100% {
        display: none;
    }
}

.width {
    width: 80%;
}